.mui-scroll-wrapper {
	background: rgb(243, 243, 243);
}

.mui-bar-nav {
	background: rgb(226, 57, 60);
}

.mui-icon-back:before,
.mui-icon-left-nav:before {
	color: white;
}

.mui-bar .mui-title {
	color: white;
}

.mui-bar .mui-btn-link {
	color: white;
}

.mui-bar-tab .mui-tab-item {
	border-right: 1px solid #ccc;
}

.mui-bar .mui-btn .mui-icon {
	width: 20px;
}

.mui-bar-tab .mui-tab-item:last-child {
	border: none;
}

.mui-bar-tab .mui-tab-item.mui-active {
	color: rgb(226, 57, 60);
}

.mui-bar-tab .mui-tab-item .mui-icon {
	top: 6px;
}

.mui-btn-blue,
.mui-btn-primary,
input[type=submit] {
	background: rgb(226, 57, 60)!important;
	border: 1px solid rgb(226, 57, 60)!important;
}

.mui-active .gonggao {
	background: url(image-base/bulletin@2x.png) bottom center/ 0.5rem 0.5rem no-repeat;
}

.mui-active .jiabing {
	background: url(image-base/Guests@2x.png) bottom center/ 0.5rem 0.5rem no-repeat;
}

.mui-active .baobiao {
	background: url(image-base/Report-form@2x.png) bottom center/ 0.5rem 0.5rem no-repeat;
}

.gonggao {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	background: url(image-base/bulletin2@2x.png) bottom center/ 0.5rem 0.5rem no-repeat;
}

.jiabing {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	background: url(image-base/Guests2@2x.png) bottom center/ 0.5rem 0.5rem no-repeat;
}

.baobiao {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	background: url(image-base/Report-form2@2x.png) bottom center/ 0.5rem 0.5rem no-repeat;
}