.mui-content-2 {
	background-color: rgb(246, 247, 248);
	min-height: 480px;
}

.input-from {
	margin: 0.5rem 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.field-input:last-child input {
	border: none;
}

.field-input {
	background-color: white;
	height: 0.8rem;
	line-height: 0.8rem;
}

.field-input input {
	margin: 0 0.2rem;
	width: 6rem;
	border: none;
	border-bottom: 1px solid #ccc;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.field-input p {
	padding-left: 0.2rem;
	margin: 0 0.2rem;
	color: #000;
}

.field-input p {
	border-bottom: 1px solid #ccc;
}

.field-input:last-child p {
	border-bottom: none;
}

.field-input p span {
	padding-left: 0.46rem;
	line-height: 0.44rem;
	height: 0.44rem;
	display: inline-block;
	margin-right: 0.2rem;
	background: url(../image/Unselected@2x.png) left center /0.44rem 0.44rem no-repeat;
}

.field-input p span.on {
	padding-left: 0.46rem;
	line-height: 0.44rem;
	height: 0.44rem;
	display: inline-block;
	margin-right: 0.2rem;
	background: url(../image/Select@2x.png) left center /0.44rem 0.44rem no-repeat;
}

.mui-submit {
	width: 40px;
	height: 45px;
	background: url(../image/save@2x.png) left center /28px 28px no-repeat;
}