
.guestlist-list{
	padding: 0.15rem;
	margin-top:44px;
}
.guestlist {
	background: #FFFFFF;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px #E8E8E8;
	-webkit-box-shadow: 2px 2px 3px #E8E8E8;
	box-shadow: 2px 2px 3px #E8E8E8;
	margin-bottom: 0.2rem;
	background: url(../image/rectangle2@2x.png) center center /100%  100% no-repeat;
}

.topcompany {
	color: #333333;
	font-size: 0.28rem;
	font-weight: bold;
	border-bottom: 1px dotted #CCCCCC;
	display: block;
	margin: 0 0.2rem;
	height: 0.9rem;
	line-height: 0.9rem;
}

.topcompany .com_title {
	float: left;
	left: 0;
	height: 1rem;
	line-height: 1rem;
}

.topcompany .edit {
	float: right;
	right: 0;
	text-indent: -9999px;
	display: block;
	width:0.44rem;
	height: 1rem;
	line-height: 1rem;
	background: url(../image/edit@2x.png) center center / 0.44rem  0.44rem no-repeat;
}

.middelinfo {
	color: #B1B1B1;
	font-size: 0.28rem;
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	border-bottom: 1px solid #CCCCCC;
}

.guestname {
	border-left: 2px solid #E53738;
	height: 20px;
	margin: 10px 0 10px 0;
}

.bigname {
	margin-left: 10px;
	font-size: 16px;
	color: #414141;
	font-weight: bold;
}

.sex {
	margin-left: 20px;
}

.guestrow {
	color: #B1B1B1;
	font-size: 0.28rem;
	padding-top: 0.2rem;
}
.guestrow.guestrow-2{
	padding:0.2rem 0.2rem ;
}
.guestrow-2 .jiedai{
	padding-left:0.5rem;
	background: url(../image/Receptionist@2x.png) left center / 0.44rem  0.44rem no-repeat;
}
.guestrow .phone{
	padding-left:0.5rem;
	background: url(../image/Phone@2x.png) left center / 0.44rem  0.44rem no-repeat;
}
.guestrow .hotel{
	padding-left:0.5rem;
	background: url(../image/stroke@2x.png) left center / 0.44rem  0.44rem no-repeat;
}
.redrowbut {
	text-align: center;
	color: #FFFFFF;
	background: #E63636;
	padding: 10px;
	font-size: 14px;
	text-shadow: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
