
#notice_page {
	position: relative;
	width: 100%;
	height: 100%;
}

#notice_page #notice_content {
	position: relative;
	width: 100%;
	height: 100%;
	background: #F4F4F4;
}

.notice_list {
	position: relative;
	padding: 0.15rem;
	margin-top:44px;
}

.list_row {
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	padding: 0.15rem 0.15rem 0 0.15rem;
	margin-bottom: 0.15rem;
}
.list_row .leftredcircle{
	float: left;
	width: 0.34rem;
	text-indent: -9999px;
	background: url(../image/round@2x.png) left center /0.24rem 0.24rem no-repeat;
}
.list_row .rightinfo{
	float: left;
	width: 5.4rem;
}
.rightinfo .list_heard{
	position: relative;
	width: 100%;
	display: block;
}
.rightinfo .left_title{
	left: 0;
	font-size: 0.28rem;
	font-weight: bold;
	color: #363636;
}
.rightinfo .list_time{
	text-align: right;
	height:0.4rem;
	font-size: 0.20rem;
	color: #B4B4B4;
	line-height: 0.4rem;
}
.rightinfo .list_content{
	font-size: 0.24rem;
	color: #565656;
	width: 100%;
	line-height: 0.4rem;
}























































