.unorderfrom {
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	margin:59px 0.2rem
}

.toptitle {
	font-size: 14px;
	text-align: center;
	color: #323232;
	font-weight: bold;
	background: url(../image/line-2@2x.png) bottom center / 2.52rem 0.3rem no-repeat;
	padding-bottom: 0.3rem;
}
.toptitle span{
	padding-top:0.4rem;
	background: url(../image/Report-form@2x.png) top center / 2.52rem 0.3rem no-repeat;
	display: block;
}
.unorderfrom table {
	font-size: 12px;
	text-align: center;
	width: 100%;
}

.table-list thead th {
	color: #E33735;
	font-weight: normal;
	height: 40px;
	text-align: center;
	border-bottom: 1px dotted #C7C7C7;
}
.table-list thead th.th1{
	width:0.4rem;
}
.table-list thead th.th2{
	width:0.5rem;
}
.table-list thead th.th3{
	width:0.6rem;
}
.table-list thead th.th4{
	width:0.6rem;
}
.table-list tbody tr{
	height:1rem;
	line-height: 1rem;
}
.table-list tbody tr td {
	height: 30px;
	color: #4E4E4E;
	color:#666;
}

.table-list tbody tr.pinkbgcolor {
	background: #FFF5F4;
}

.table-list tbody tr td a{
	color:#666;
}
.table-list tbody tr td a.link{
	/*text-indent: -9999px;*/
	display: inline-block;
	width:0.52rem;
	height:1rem;
	line-height: 1rem;
	background: url(../image/phone-2@2x.png) center center / 0.52rem 0.52rem no-repeat;
}
